/* --- 1. RESET Y FONDOS DE CONTENEDORES --- */
:host ::ng-deep {
    /* Variables de PrimeNG para sobreescribir el verde del tema */
    --p-tabs-tab-active-color: #ffffff !important;
    --p-tabs-tab-hover-color: #ffffff !important;
    --p-tabs-tab-active-border-color: #60a5fa !important;
}

::ng-deep .p-tablist, 
::ng-deep .p-tabpanels {
    background: #0d1425 !important;
}

.bg-dark-a { background-color: #182847; }
.bg-dark-b { background-color: #44516d; }

/* --- 2. TABS (PESTAÑAS) - BLANCO TOTAL --- */
/* Estado normal */
::ng-deep .custom-tabs .p-tablist-tab {
    background: transparent !important;
    color: #64748b !important;
    border-bottom: 2px solid transparent !important;
    transition: all 0.3s ease;
}

/* Estado Seleccionado: Forzamos blanco a TODO lo que esté adentro */
::ng-deep .custom-tabs .p-tablist-tab-selected,
::ng-deep .custom-tabs .p-tablist-tab-selected * {
    color: #ffffff !important; 
    border-bottom-color: #60a5fa !important;
}

/* --- 3. FILTROS E INPUTS (OSCUROS) --- */
.label-estilo {
    color: #ffffff;
    font-size: 0.95rem;
    font-weight: bold;
    text-transform: uppercase;
}

::ng-deep .custom-input, 
::ng-deep .custom-dp .p-inputtext, 
::ng-deep .custom-select {
    background: #0f172a !important;
    border: 1px solid #334155 !important;
    color: white !important;
    height: 42px !important;
    border-radius: 8px !important;
}

/* --- 4. TABLA (LIMPIEZA DE BORDES INTERNOS) --- */
::ng-deep .custom-table-dark,
::ng-deep .custom-table-dark .p-datatable-thead > tr > th,
::ng-deep .custom-table-dark .p-datatable-tbody > tr > td {
    border: none !important;
}

/* Encabezado Claro */
::ng-deep .custom-table-dark .p-datatable-thead > tr > th {
    background: #ececec !important;
    color: #232425 !important;
    padding: 15px !important;
    font-size: 1.15rem;
}

/* Cuerpo de Tabla */
::ng-deep .custom-table-dark .p-datatable-tbody > tr  {
    color: #cbd5e1 !important;
}

::ng-deep .p-paginator {
    border: none !important;
    background: transparent !important;
}

/* --- 5. COMPONENTES VISUALES --- */
/* Borde de las tarjetas definido en el HTML */
.border-gray-700 {
    border-color: #334155 !important;
}

.btn-consultar-moderno {
    background: linear-gradient(to right, #2563eb, #1d4ed8);
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    transition: all 0.3s;
    box-shadow: 0 4px 15px rgba(37, 99, 235, 0.3);
    cursor: pointer;
}

.btn-consultar-moderno:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(37, 99, 235, 0.4);
}

.btn-consultar-moderno:active {
    transform: scale(0.95); /* El botón se encoge un poquito al presionarlo */
    background: linear-gradient(to right, #1d4ed8, #1e40af);
}

.badge-hora {
    background: #1e293b;
    padding: 2px 8px;
    border-radius: 4px;
    border: 1px solid #334155;
    color: #94a3b8;
}